//Variables de color
$color1: #ffffff;
$color2: #00897b;
$color3: #a7ffeb;
//Variable Media query para mobiles y tabletas
$mobile: "only screen and (max-width: 768px)";

//Mixin Media query para mobiles y tabletas
@mixin mobiles {
    @media #{$mobile} {
        @content
    }
}

/********* Estilos de estructura *********/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    header {
        display: flex;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    main {
        flex: 1 0 auto;
        padding: 0 30px;
    }

    footer {
        margin-top: 25px;
    }
}

.row {
    .col {
        padding: 0;

        label {
            left: 0;
        }
    }
}

/********* Estilos de estructura *********/
//quitar padding en bottom 
.pd-0 {
    padding-bottom: 0;
}

/********* Estilos de login *********/

.login {
    padding: 20px !important;
    border-radius: 10px;
}

#message {
    border-radius: 10px;
    height: 40px;
    padding: 5px;
}

/********* Estilos de login *********/

/********* Estilos de menu *********/

.dropdown-content {
    top: 63px !important;
    position: inherit;
}

.menu {
    margin: 15px 30px;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;

    @include mobiles() {
        margin: 0;
        border-radius: 0;
        display: inline-block;
        width: 100%;
    }
}

.user-view {
    margin-bottom: 0;

    .name {
        margin-top: 0 !important;
    }
}

/********* Estilos de menu *********/

/********* Estilos de preloader *********/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color1;
    width: 100%;
    height: 100%;
    z-index: 99;
}

#page-loader {
    position: absolute;
    left: 50%;
    top: 50%;
}

/********* Estilos de preloader *********/

/********* Estilos de menu select *********/

ul.select-dropdown {
    top: 0px !important;
    position: absolute;
}

/********* Estilos de menu select *********/

/********* Estilos de titulos *********/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color2;
}

/********* Estilos de titulos *********/

/********* Estilos de campo y boton busqueda *********/

.search {
    position: fixed;
    top: 2%;
    right: 0% !important;
    text-align: right;
    display: flex;

    #txt-search {
        width: 200px;
    }

    @include mobiles() {
        position: relative;
        text-align: right;
        display: flex;
        margin-top: 10px;

        #txt-search {
            display: inline-block;
            width: 100%;
        }
    }
}

/********* Estilos de campo y boton busqueda *********/

/********* Estilos de campos númericos y resaltado  *********/

input[type=number] {
    -moz-appearance: textfield;

    &:-webkit-outer-spin-button,
    &:-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.texto-resaltado {
    color: teal;
    font-weight: bold;
}

.alert-input {
    color: red;
    font-weight: bold;
}

/********* Estilos de campos númericos y resaltado  *********/

/********* Estilos de boton ayuda  *********/
.help {
    position: absolute;
    display: initial;
    float: right;
    top: 20px;
    right: -30px;
    height: 30px;
    border-radius: 50%;
    cursor: help;
}

/********* Estilos de boton ayuda  *********/

/********* Estilos de tablas en informes  *********/

.col1 {
    td {
        &:nth-child(1) {
            max-width: 110px;
            min-width: 110px;
        }

        &:nth-child(2) {
            max-width: 510px;
            min-width: 510px;
        }

        &:nth-child(3) {
            max-width: 60px;
            min-width: 60px;
        }

        &:nth-child(4) {
            max-width: 60px;
            min-width: 60px;
        }

        &:nth-child(5) {
            max-width: 75px;
            min-width: 75px;
        }
    }
}

.tdl-inf {
    th {
        &:nth-child(1) {
            width: 300px;
        }

        &:nth-child(2) {
            max-width: 150px;
            min-width: 150px;
        }

        &:nth-child(3) {
            max-width: 710px;
            min-width: 710px;
        }

        &:nth-child(4) {
            max-width: 80px;
            min-width: 80px;
        }

        &:nth-child(6) {
            min-width: 105px;
            max-width: 105px;
        }
    }
}

/********* Estilos de tablas en informes  *********/

/********* Ajuste al ancho de tablas *********/

#tblProyecto {
    font-size: .9em;
}

/******  Ajuste nombre de proyecto en Views proyecto ******/

.caja {
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-radius: 5px;
    margin-bottom: 5px !important;
}

/***** Ajuste tablas planeacion *****/

.tdl-planeacion {
    display: table;
    font-size: .9em;

    input[type=text],
    input[type=number] {
        font-size: .9em;
        width: 50px;
        max-width: 300px;
    }

    textarea {
        width: 150px;
        font-size: .9em;
    }

    td {
        &:nth-child(5) {
            word-wrap: break-word;
            width: 300px;
            max-width: 300px;
        }
    }
}

/***** Ajuste ancho columnas, tabla informes PS *****/
#tblMain {
    th {
        &:nth-child(3) {
            width: 20%;
        }
    }
}

/***** Estilo para select con propiedad required *****/
select[required] {
    display: block;
    padding: 0;
    position: absolute;
    background: transparent !important;
    color: transparent !important;
    border: 0;
    bottom: 0;
    width: 1px;
    height: 1px;
    margin-left: 50%;
}

/***** Ajuste clase para cortar texto largo *****/
.truncate {
    width: 185px;
}

td {
    &:hover {
        .truncate {
            white-space: inherit;
            overflow: auto;
            max-height: 150px;
            margin: 0;

            &::-webkit-scrollbar-track {
                border-radius: 50px;
                border: 1px solid #00897b;
            }

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #009688;
                border-radius: 50px;
            }

            @include mobiles() {
                text-overflow: inherit;
                overflow: auto;
            }
        }
    }
}

#infMisTiempos td {
    &:first-child {
        width: 7%;
    }

    &:last-child {
        width: 7%;
    }
}


#terminar td {

    &:nth-child(7),
    &:nth-child(8) {
        width: 10%;
    }
}

#resulProd td {

    &:nth-child(7),
    &:nth-child(8) {
        width: 10%;
    }
}

/***** Ajuste clase para cortar texto largo *****/

/***** Ajuste en modal *****/
.modal {
    width: 60%;
    min-height: 70% !important;

    &.datepicker-modal {
        min-height: auto !important;
    }
}

/***** Ajuste en modal *****/

/***** Ajuste en tabs *****/
.tab-container {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

/***** Ajuste en tabs *****/


.overlay-edit {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.753);
}

.editTimes {
    position: absolute;
    width: 90%;
    height: 85%;
    margin: 5%;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
    z-index: 6;

}

.tabs {
    .indicator {
        height: 3px;
        background-color: $color3;
    }
}

.botonSalir {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    i{
        font-size: 15px;
    }
}

.dia{
    width: 100%;
    padding: 10px 15px !important;
    text-align: center;
    font-size: 100%;
    background: teal;

    h6{
        color : white;
    }
        
}